*.class
/NetunoWeb/WebContent/WEB-INF/*.jsfdia$
# Package Files #
*.jar
*.war
*.ear
/NetunoWeb/WebContent/WEB-INF/lib/NetunoContratacao.jar
/NetunoWeb/WebContent/WEB-INF/lib/NetunoLogistica.jar
/NetunoWeb/WebContent/WEB-INF/lib/NetunoModelo.jar
/NetunoWeb/WebContent/WEB-INF/lib/NetunoSistema.jar
/NetunoModelo/src/db_schema.sql

/NetunoCarga/build/classes/META-INF/MANIFEST.MF
/NetunoCarga/build/classes/META-INF/ejb-jar.xml
